/Game/.vs
/Game/Library
/Game/Logs
/Game/obj
/Game/Assembly-CSharp.csproj
/Game/Assembly-CSharp-Editor.csproj
/Game/Game.sln
/Game/Temp
/Doc/ConfigGen/AutoGen/__pycache__
/Tool/SprotoGen/.vs
/Tool/SprotoGen/SprotoGen/obj
